/* Write your CSS here */
.bg-container {
  height: 100vh;
  padding: 20px;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode {
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.heading {
  font-size: 35px;
}
.light-dark-mode-btn {
  background-color: #ffffff;
  height: 46px;
  width: 126px;
  border-width: 0;
  border: 1px solid #000000;
  border-radius: 10px;
  align-self: center;
}
